<!-- (*) assigned classes -->
<ion-view view-title="Followers">
	<ion-content>
		<ion-list>
            <!-- *class date / style for date -->
            <div class="item item-divider date">
                <i class="icon ion-ios-calendar-outline"></i>
                25 oct 2015
                <span class="item-note">3,123</span>
            </div>
            <ion-item class="item-avatar item-button-right">
                <img src="img/27.jpg">
                <h2>Venkman</h2>
                <!-- *class time / icon time -->
                <p class="time">
                    <i class="icon ion-ios-clock-outline"></i>
                    01:40 pm
                </p>
                <!-- *class follower / button follower style -->
                <a class="button button-icon icon ion-ios-plus-outline follower"></a>
            </ion-item>
            <ion-item class="item-avatar item-button-right">
                <img src="img/92.jpg">
                <h2>Dan</h2>
                <p class="time">
                    <i class="icon ion-ios-clock-outline"></i>
                    10:38 am
                </p>
                <!-- *class following / button following style -->
                <a class="button button-icon icon ion-ios-minus-outline following"></a>
			</ion-item>
			<ion-item class="item-avatar item-button-right">
				<img src="img/48.jpg">
				<h2>Dana</h2>
				<p class="time">
                    <i class="icon ion-ios-clock-outline"></i>
                    08:45 am
                </p>
                <a class="button button-icon icon ion-ios-plus-outline follower"></a>
			</ion-item>
			<ion-item class="item-avatar item-button-right">
				<img src="img/78.jpg">
				<h2>Rebecca</h2>
				<p class="time">
                    <i class="icon ion-ios-clock-outline"></i>
                    07:35 am
                </p>
                <a class="button button-icon icon ion-ios-plus-outline follower"></a>
			</ion-item>
            <div class="item item-divider date">
                <i class="icon ion-ios-calendar-outline"></i>
                15 oct 2015
                <span class="item-note">2,985</span>
            </div>
			<ion-item class="item-avatar item-button-right">
				<img src="img/82.jpg">
				<h2>Pam</h2>
				<p class="time">
                    <i class="icon ion-ios-clock-outline"></i>
                    05:20 pm
                </p>
                <a class="button button-icon icon ion-ios-minus-outline following"></a>
			</ion-item>
			<ion-item class="item-avatar item-button-right">
				<img src="img/88.jpg">
				<h2>Robert</h2>
				<p class="time">
                    <i class="icon ion-ios-clock-outline"></i>
                    12:15 am
                </p>
                <a class="button button-icon icon ion-ios-plus-outline follower"></a>
			</ion-item>
			<ion-item class="item-avatar item-button-right">
				<img src="img/9.jpg">
				<h2>Joe</h2>
				<p class="time">
                    <i class="icon ion-ios-clock-outline"></i>
                    11:38 am
                </p>
                <a class="button button-icon icon ion-ios-plus-outline follower"></a>
			</ion-item>
		</ion-list>
	</ion-content>
</ion-view>
