<!-- (*) assigned classes -->

<ion-view view-title="List Users">
	<ion-content>
        <!-- *class input-search -->
		<div class="list list-inset input-search">
			<label class="item item-input">
				<i class="icon ion-search placeholder-icon"></i>
				<input type="text" placeholder="Search">
			</label>
		</div>
        <!-- item-avatar with option button -->
		<ion-list>
			<ion-item class="item-avatar">
				<img src="img/27.jpg">
				<h2>Venkman</h2>
				<p>Back off, man. I'm a scientist.</p>
                <!-- *class icon-view / show icon check -->
				<i class="icon-view ion-android-done"></i>
				<ion-option-button>
                    <i class="icon ion-ios-star-outline"></i>
                </ion-option-button>
                <ion-option-button>
                    <i class="icon ion-ios-redo-outline"></i>
                </ion-option-button>
                <ion-option-button>
                    <i class="icon ion-ios-telephone-outline"></i>
                </ion-option-button>
			</ion-item>
			<ion-item class="item-avatar">
				<img src="img/92.jpg">
				<h2>Dan</h2>
				<p>Back off, man. I'm a scientist.</p>
				<ion-option-button>
                    <i class="icon ion-ios-star-outline"></i>
                </ion-option-button>
                <ion-option-button>
                    <i class="icon ion-ios-redo-outline"></i>
                </ion-option-button>
                <ion-option-button>
                    <i class="icon ion-ios-telephone-outline"></i>
                </ion-option-button>
			</ion-item>
			<ion-item class="item-avatar">
				<img src="img/48.jpg">
				<h2>Dana</h2>
				<p>Back off, man. I'm a scientist.</p>
				<i class="icon-view ion-android-done"></i>
				<ion-option-button>
                    <i class="icon ion-ios-star-outline"></i>
                </ion-option-button>
                <ion-option-button>
                    <i class="icon ion-ios-redo-outline"></i>
                </ion-option-button>
                <ion-option-button>
                    <i class="icon ion-ios-telephone-outline"></i>
                </ion-option-button>
			</ion-item>
			<ion-item class="item-avatar">
				<img src="img/78.jpg">
				<h2>Rebecca</h2>
				<p>Back off, man. I'm a scientist.</p>
				<ion-option-button>
                    <i class="icon ion-ios-star-outline"></i>
                </ion-option-button>
                <ion-option-button>
                    <i class="icon ion-ios-redo-outline"></i>
                </ion-option-button>
                <ion-option-button>
                    <i class="icon ion-ios-telephone-outline"></i>
                </ion-option-button>
			</ion-item>
			<ion-item class="item-avatar">
				<img src="img/82.jpg">
				<h2>Pam</h2>
				<p>Back off, man. I'm a scientist.</p>
				<ion-option-button>
                    <i class="icon ion-ios-star-outline"></i>
                </ion-option-button>
                <ion-option-button>
                    <i class="icon ion-ios-redo-outline"></i>
                </ion-option-button>
                <ion-option-button>
                    <i class="icon ion-ios-telephone-outline"></i>
                </ion-option-button>
			</ion-item>
			<ion-item class="item-avatar">
				<img src="img/88.jpg">
				<h2>Robert</h2>
				<p>Back off, man. I'm a scientist.</p>
				<i class="icon-view ion-android-done"></i>
				<ion-option-button>
                    <i class="icon ion-ios-star-outline"></i>
                </ion-option-button>
                <ion-option-button>
                    <i class="icon ion-ios-redo-outline"></i>
                </ion-option-button>
                <ion-option-button>
                    <i class="icon ion-ios-telephone-outline"></i>
                </ion-option-button>
			</ion-item>
			<ion-item class="item-avatar">
				<img src="img/9.jpg">
				<h2>Joe</h2>
				<p>Back off, man. I'm a scientist.</p>
				<ion-option-button>
                    <i class="icon ion-ios-star-outline"></i>
                </ion-option-button>
                <ion-option-button>
                    <i class="icon ion-ios-redo-outline"></i>
                </ion-option-button>
                <ion-option-button>
                    <i class="icon ion-ios-telephone-outline"></i>
                </ion-option-button>
			</ion-item>
		</ion-list>
	</ion-content>
</ion-view>
