<!-- (*) assigned classes -->

<ion-view view-title="News Feed">
	<ion-nav-buttons side="right">
        <button class="button button-icon icon ion-ios-plus-empty" ng-click="infoApp()"></button>
    </ion-nav-buttons>
	<ion-content>
		<!-- list card -->
		<div class="list card">
			<div class="item item-avatar item-icon-right">
				<img src="img/48.jpg">
				<h2>Dana Cobain</h2>
				<!-- *class social / favorites and comments -->
				<p class="social">
			    	<a>
			    		<i class="icon ion-ios-heart-outline"></i>
			      		10
			    	</a>
			      	<a>
			      		<i class="icon ion-ios-chatbubble-outline"></i>
	    				5
	    			</a>
			    </p>
			    <!-- *class icon-p / icon time -->
				<p class="icon-p">
					<i class="icon ion-ios-clock-outline"></i>
					1 days ago
				</p>
			</div>
			<div class="item item-image">
				<img src="img/feed/2.jpg">
				<!-- *class social-img-up / favorites and comments up image -->
				<p class="social-img-up">
			    	<a>
			    		<i class="icon ion-ios-heart"></i>
			      		10
			    	</a>
			      	<a>
			      		<i class="icon ion-ios-chatbubble"></i>
	    				5
	    			</a>
			    </p>
			</div>
			<!-- item tabs -->
			<!-- *class black-bg / background color tabs -->
			<div class="item tabs tabs-secondary tabs-icon-left black-bg">
			    <a class="tab-item">
			      <i class="icon ion-ios-heart-outline"></i>
			      Like
			    </a>
			    <a class="tab-item">
			      <i class="icon ion-ios-chatbubble-outline"></i>
			      Comment
			    </a>
			    <a class="tab-item">
			      <i class="icon ion-ios-redo-outline"></i>
			      Share
			    </a>
		  	</div>
		</div>
		<div class="list card">
			<div class="item item-avatar item-icon-right">
				<img src="img/27.jpg">
				<h2>Venkman Romero</h2>
				<i class="icon ion-ios-heart assertive"></i>
				<p class="icon-p">
					<i class="icon ion-ios-clock-outline"></i>
					2 days ago
				</p>
			</div>
			<div class="item item-image">
				<img src="img/feed/1.jpg">
				<!-- *class social-img-down / favorites down the image -->
				<p class="social-img-down">
			    	<a>
			    		<i class="icon ion-ios-heart"></i>
			    		150
			    	</a>
			    </p>
			</div>
			<div class="item item-body">
				<p>
					Lorem ipsum dolor sit amet, consectetur adipisicing elit. Tenetur voluptatum nihil dolores temporibus assumenda possimus. Facilis, saepe consequatur perferendis porro nam aut est voluptatibus amet nesciunt inventore voluptate quod quam!
				</p>
				<p>
			      	<a href="#" class="subdued">
			      		<i class="icon ion-ios-chatbubble"></i>
	    				75
	    			</a>
			    </p>
			</div>
		</div>
		<div class="list card">
			<div class="item item-avatar item-icon-right">
				<img src="img/82.jpg">
				<h2>Pam Daniels</h2>
				<p class="social">
			    	<a>
			    		<i class="icon ion-ios-heart-outline"></i>
			      		10
			    	</a>
			      	<a>
			      		<i class="icon ion-ios-chatbubble-outline"></i>
	    				5
	    			</a>
			    </p>
				<p class="icon-p">
					<i class="icon ion-ios-clock-outline"></i>
					2 days ago
				</p>
			</div>
			<div class="item item-body">
				<p>
					Lorem ipsum dolor sit amet, consectetur adipisicing elit. Vero nam porro laborum blanditiis necessitatibus eos sint ex, facilis in perferendis ipsa iure voluptas sit quam labore assumenda inventore molestias consequuntur.
				</p>
			</div>
			<div class="item item-image">
				<img src="img/feed/3.jpg">
			</div>
			<!-- *class red-bg / background color tabs -->
			<div class="item tabs tabs-secondary tabs-icon-left red-bg">
			    <a class="tab-item">
			    	<i class="icon ion-ios-star-outline"></i>
			    	Like
			    </a>
			    <a class="tab-item">
			    	<i class="icon ion-ios-chatbubble-outline"></i>
			    	Comment
			    </a>
			    <a class="tab-item">
			    	<i class="icon ion-ios-redo-outline"></i>
			    	Share
			    </a>
		  	</div>
		</div>
	</ion-content>
</ion-view>
