<!-- (*) assigned classes -->

<ion-view view-title="Profile">
	<ion-nav-buttons side="right">
        <button class="button button-icon ion-ios-checkmark-empty"></button>
    </ion-nav-buttons>
	<ion-content>
		<!-- *view-profile / container -->
		<div class="view-profile">
			<!-- *profile-bg / background color -->
			<div class="profile-bg">
	            <a class="item item-avatar" nav-clear>
					<!-- *content-img / container -->
	            	<div class="content-img">
		            	<img src="img/78.jpg">
						<!-- *bg-img -->
						<div class="bg-img"></div>
	            	</div>
		            <h2>Rebecca Boscop</h2>
		            <p>I'm time study</p>
		        </a>
		    </div>
		    <!-- button bar with style FOLLOWER / FOLLOWING -->
		    <div class="button-bar">
				<a class="button"  href="#/app/followers">
					<h2>13520</h2>
					<p>FOLLOWER</p>
				</a>
				<a class="button">
					<h2>2450</h2>
					<p>FOLLOWING</p>
				</a>
			</div>
			<!-- list with inputs style -->
			<div class="list">
				<label class="item item-input item-stacked-label">
				    <ion-label>Username</ion-label>
				    <input type="text" value="Rebecca Boscop">
				</label>
				<label class="item item-input item-stacked-label">
				    <ion-label>Password</ion-label>
				    <input type="password" value="12345678">
				</label>
				<label class="item item-input item-stacked-label">
				    <ion-label>Email</ion-label>
				    <input type="text" value="rebecca@boscop.com">
				</label>
				<label class="item item-input item-stacked-label">
				    <ion-label>state</ion-label>
				    <input type="text" value="I'm time study">
				</label>
	        </div>
		</div>
	</ion-content>
</ion-view>
