
// Colors
// -------------------------------

$positive:                        #FF9293 !default;
$calm:                            #5e5e5e !default;
$balanced:                        #A1DBB2 !default;
$energized:                       #f7c865 !default;
$assertive:                       #ff6263 !default;
$royal:                           #3A3A3A !default;
$dark:                            #212121 !default;