/**
 * Followers
 * --------------------------------------------------
 */

.date {
 	font-size: 14px;
 	font-weight: 400;
}
.time {
	color: #A9A9A9 !important;
	font-size: 12px !important;
}
.follower {
	color: $balanced !important;
	top: 15px !important;
}
.following {
	color: $assertive !important;
	top: 15px !important;
}